PORT=5000
MONGODB_URI=mongodb+srv://dev:ipZlD6vupMTc0rmM@backend.uuio5ow.mongodb.net/Test
JWT_SECRET=school_daily_test_jwt_secret_change_me
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
# RESEND_API_KEY=re_cbeAv9ZS_EXUj56AYiBzw77kvcyEc3jBv
# MAIL_FROM=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ss6587493@gmail.com
SMTP_PASS=gxxtesjbcrnevlqp
MAIL_FROM="TR <ss6587493@gmail.com>"

IMAGEKIT_PUBLIC_KEY=public_Di6Q66P/0jdGaa4Vujd4dHfaiDw=
IMAGEKIT_PRIVATE_KEY=private_xdgf01q8MDid+WB8eqmfXyp2IlU=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/2qoga5wjp
